
<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header" data-background-color="green">
                        <h4 class="title">Maharishi University of Management</h4>
                        <a target="_blank" href="https://mscs.mum.edu/">Master of Science in Computer Science, Fairfield, IA, US</a>
                    </div>
                    <div class="card-content">
                        <h4>APR 2017 - JUL 2019</h4>
                        <p>
                            <strong>Key Courses: </strong> 
                            <span class="badge badge-pill badge-secondary">Web Programming</span>
                            <span class="badge badge-pill badge-secondary">Modern Web Applications</span>
                            <span class="badge badge-pill badge-secondary">Algorithms</span>
                            <span class="badge badge-pill badge-secondary">Big Data</span>
                            <span class="badge badge-pill badge-secondary">Parallel programming</span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header" data-background-color="blue">
                        <h4 class="title">Mongolian University of Science and Technology</h4>
                        <a target="_blank" href="https://mscs.mum.edu/">Bachelor of Software Engineering, Ulaanbaatar, Mongolia</a>
                    </div>
                    <div class="card-content">
                        <h4>AUG 2012 - JUN 2015</h4>
                        <p>
                            <strong>Key Courses: </strong> 
                            <span class="badge badge-pill badge-secondary">Software Design & Architecture</span>
                            <span class="badge badge-pill badge-secondary">Software Construction</span>
                            <span class="badge badge-pill badge-secondary">Software Quality Assurance for Wireless Mobile Devices</span>
                            <span class="badge badge-pill badge-secondary">Internet Programming</span>
                            <span class="badge badge-pill badge-secondary">Principles of Programming Languages</span>
                            <span class="badge badge-pill badge-secondary">Software Requirements Analysis</span>
                            <span class="badge badge-pill badge-secondary">Computer Architecture & Assembler</span>
                            <span class="badge badge-pill badge-secondary">Software Project Management</span>
                            
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>