<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-profile">
                    <div class="card-avatar">
                        <a href="#">
                            <img class="img" src="../assets/img/profile_min.jpg" />
                        </a>
                    </div>

                    <div class="content">
                        <h6 class="category text-gray"><i class="fa fa-android"></i> Android | <i class="fa fa-apple"></i> iOS |  <i class="fa fa-wrench"></i> Full Stack Web Developer</h6>
                        <h4 class="card-title">Khureltsooj Davaatseren</h4>
                        <p class="card-content text-justify">
                            Innovative Software Engineer with 3 years of experience in full-stack application development for mobile and web platforms. Played active role in maintaining phases including coding, testing, troubleshooting, bug fixing, improving, source code optimizing and deploying. Skilled at identifying opportunities to improve application performance through creative application of new technologies and principles. Deeply passionate about learning things and solving algorithmic problems. Hands-on experience with Android, Ruby on Rails and Angular 2+.
                        </p>
                        
                        <a class="btn btn-round btn-danger" href="https://mail.google.com/mail/?view=cm&to=khureltsooj.cj@gmail.com" target="_blank">
                            <i class="fa fa-envelope"></i>
                        </a>
                        <a class="btn btn-round btn-info" href="https://www.linkedin.com/in/khureltsooj-davaatseren/" target="_blank">
                            <i class="fa fa-linkedin"></i>
                        </a>
                        <a class="btn btn-round btn-default" href="https://github.com/LearnerMN" target="_blank">
                            <i class="fa fa-github"></i>
                        </a>
                        <a class="btn btn-round btn-warning" href="http://learnermn.github.io/" target="_blank">
                            <i class="fa fa-rss"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>        