
<div class="main-content">
  <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card ">
                    <div class="card-header" data-background-color="green">
                        <h4 class="title">Software Engineer</h4>
                        <p class="category">Unimedia Solutions LLC /2015-2017/</p>
                    </div>
                    <div class="card-content">
                        <p><em class="grey-text">
                            Unimedia Solutions LLC (subsidiary of Unimedia Inc., Tokyo Japan). Company creates web, web system and mobile application, headquartered in Japan.<br>
                            Coordinated development and implementation of a number of new applications, features, and enhancements.
                        </em></p>
                        <ul>
                          <li>Delivered a new data input allowing users to claim and submit tasks in a client crowdsourcing system.</li> 
                          <li>Built the Naisyoku-Ichiba job market for internal job postings, built in both Android and iOS.</li>
                          <li>Created an Android and iOS version of the data input application, allowing mobile access.</li>
                          <li>Contributed and documented REST API, including JSON data formats.</li>
                          <li>Drove development of multiple games, including a logic to puzzle game and a game screen recording API for Android and iOS platform. </li>
                          <li>Designed floating youtube player for Android.</li>
                          <li>Innovated an Android browser allowing easy search while navigating other apps.</li>
                          <li>Improved website speed for the crowdsourcing system through extensive testing and optimization.</li>
                          <li>Introduced a more efficient method for checking mobile web systems after release by developing a scenario test for the mobile web system.</li>
                          <li>Implemented the MVVM Data binding design pattern for the Android version of data input.</li>
                          <li>Programmed Model, ViewModel and performance tests for data input.</li>
                          <li>Created  automate user interface test for Android and iOS data input application. </li>
                        </ul>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <span class="badge">Android</span>
                            <span class="badge">iOS</span>
                            <span class="badge">Ruby on Rails</span>
                            <span class="badge">MySQL</span>
                            <span class="badge">Git</span>
                            <span class="badge">Selenium</span>
                            <span class="badge">Capybara</span>
                            <span class="badge">RSpec</span>
                            <span class="badge">AWS 3</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="card ">
                    <div class="card-header" data-background-color="orange">
                        <h4 class="title">Software Engineer</h4>
                        <p class="category">Game Mine /MAY 2014 - DEC 2014/</p>
                    </div>
                    <div class="card-content">
                        <p><em class="grey-text">
                          Developed mining desktop application, related web system and android app.
                        </em></p>
                        <ul>
                          <li> Created Windows Desktop application for clients as to analyze evolution cost of open pit mining </li>
                          <li> Developed Android application that to show analytics/REST API/ for users. </li>
                          <li> Designed and documented REST APIs, including JSON data formats. </li>
                          <li> Participated in all phases of SDLC from mock design through the initial release. </li>
                          <li> Built custom Entity framework for desktop development. </li>
                        </ul>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <span class="badge">WPF</span>
                            <span class="badge">.NET</span>
                            <span class="badge">DevExpress</span>
                            <span class="badge">MySQL</span>
                            <span class="badge">SQLITE</span>
                            <span class="badge">Android</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
