
<div class="main-content">
  <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card ">
                    <div class="card-header" data-background-color="green">
                        <h4 class="title">Software Engineer</h4>
                        <p class="category">Unimedia Solutions LLC /2015-2017/</p>
                    </div>
                    <div class="card-content">
                        <p><em class="grey-text">
                            Unimedia Solutions LLC (subsidiary of Unimedia Inc., Tokyo Japan). Company creates web, web system and mobile application, headquartered in Japan.<br>
                            Coordinated development and implementation of a number of new applications, features, and enhancements.
                        </em></p>
                        <ul>
                          <li>Delivered a new data input allowing users to claim and submit tasks in a client crowdsourcing system</li>
                          <li>Built the Naisyoku-Ichiba job market for internal job postings, built in both Android and iOS</li>
                          <li>Created an Android and iOS version of the data input application, allowing mobile access.</li>
                          <li>Drove development of multiple games, including a logic to puzzle game and a game recording API.</li>
                          <li>Designed a video player for Android</li>
                          <li>Innovated an Android browser allowing easy search while navigating other apps.</li>
                          <li>Improved website speed for the crowdsourcing system through extensive testing and optimization</li>
                          <li>Introduces a more efficient method for checking mobile web systems before release by developing a scenario test.</li>
                        </ul>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <span class="badge">Android</span>
                            <span class="badge">iOS</span>
                            <span class="badge">Ruby on Rails</span>
                            <span class="badge">MySQL</span>
                            <span class="badge">Git</span>
                            <span class="badge">Selenium</span>
                            <span class="badge">Capybara</span>
                            <span class="badge">RSpec</span>
                            <span class="badge">AWS 3</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="card ">
                    <div class="card-header" data-background-color="orange">
                        <h4 class="title">Software Engineer</h4>
                        <p class="category">Game Mine /MAY 2014 - DEC 2014/</p>
                    </div>
                    <div class="card-content">
                        <p><em class="grey-text">
                            Partnered with small team to implement mining Desktop Application. 
                        </em></p>
                        <ul>
                            <li>Developed and designed desktop application using WPF C#, DevExpress, MVVM architecture on the .NET framework. </li>
                            <li>Contributed Android application that to show analytics/REST API/ for users.</li>
                        </ul>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <span class="badge">WPF</span>
                            <span class="badge">.NET</span>
                            <span class="badge">DevExpress</span>
                            <span class="badge">MySQL</span>
                            <span class="badge">SQLITE</span>
                            <span class="badge">Android</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
