
<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats">
              <div class="card-header" data-background-color="red">
                <i class="material-icons">email</i>
              </div>
              <div class="card-content">
                <p class="category">Khureltsooj</p>
                <h3 class="title">CJ</h3>
              </div>
              <div class="card-footer">
                <div class="stats">
                    
                  <i class="material-icons text-danger">link</i> <a href="https://mail.google.com/mail/?view=cm&to=khureltsooj.cj@gmail.com" target="_blank">khureltsooj.cj@gmail.com</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
            
            <div class="card card-stats">
              <a href="https://www.linkedin.com/in/khureltsooj-davaatseren/" target="_blank">
                <div class="card-header" data-background-color="blue">
                    <i class="fa fa-linkedin"></i>
                  </div>
              </a>
              <div class="card-content">
                <p class="category">Khureltsooj</p>
                <h3 class="title"><small>Davaatseren</small></h3>
              </div>
              <div class="card-footer">
                <div class="stats">
                  <i class="material-icons text-danger">link</i> <a href="https://www.linkedin.com/in/khureltsooj-davaatseren/" target="_blank">linkedin/khureltsooj-davaatseren</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats">
              
              <a href="https://github.com/LearnerMN" target="_blank">
                <div class="card-header" data-background-color="black">
                  <i class="fa fa-github"></i>
                </div>
              </a>
              <div class="card-content">
                <p class="category">Khureltsooj</p>
                <h3 class="title"><small>LearnerMN</small></h3>
              </div>
              <div class="card-footer">
                <div class="stats">
                  <i class="material-icons text-danger">link</i> <a href="https://github.com/LearnerMN" target="_blank">https://github.com/LearnerMN</a>
                </div>
              </div>
            </div>
          </div>  
      </div>
  </div>
</div>
